<%- include('../template/header') -%>
<!-- Wrapper -->
<div class="wrapper">	

    <!-- Section Started -->
    <div class="section started" id="section-started">

        <!-- background -->
        <div class="video-bg">
            <div class="video-bg-mask"></div>
            <div class="video-bg-texture" id="grained_container"></div>
        </div>

        <!-- content start -->
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <h1 class="h-title">
                        <%- lang.title %>
                    </h1>
                    <div class="h-subtitle typing-subtitle">
                        <%- lang.typing_subtitle %> 
                    </div>
                    <span class="typed-subtitle"></span>
                </div>
            </div>
        </div>

    </div>

</div>
<%- include('../template/footer') -%>